h1 {
    font-size: 2.0rem;
    border-width: 2px;
    border-style: solid;
    border-color: magenta;
    color: blue;
}

h2 {
    font-size: 1.5rem;
    color: blue;
}

h3 {
    font-size: 1.0rem;
}

p {
    text-indent: 1.0rem;
}

body {
    background-color: lightgreen;
}
