h1 {
    font-size: 2.0rem;
    border-width: 2px;
    border-style: solid;
    border-color: magenta;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.0rem;
}

.header-class {
    color: black;
}

p {
    text-indent: 1rem;
}

body {
    color: tomato;
    background-color: lightgreen;
}
